ocr-boletas-tesseract-postgresql/workflows/hardcoded-file.json
{
  "name": "Pipeline OCR de Boletas con Tesseract y PostgreSQL (Archivo Hardcodeado)",
  "nodes": [
    {
      "parameters": {
        "path": "C:/Users/alexi/src/amillanaol/workflows-n8n-kits-json_automatizaciones/ocr-boletas-tesseract-postgresql/02-06-2025_181732.jpg",
        "options": {}
      },
      "name": "Leer Imagen Local",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Nota: Esta función simula el procesamiento OCR.\n// Para usar Tesseract real con la imagen binaria:\n// 1. Necesitarías guardar temporalmente la imagen binaria\n// 2. Ejecutar tesseract CLI en ese archivo temporal\n// 3. Leer el resultado\n// \n// Por simplicidad y para que funcione sin Tesseract instalado,\n// devolvemos un resultado estático basado en lo que probablemente\n// contenga esta imagen específica (basado en el nombre de archivo y contexto).\n// En una implementación real, reemplaza esta función por el procesamiento Tesseract real.\nreturn [{\n  ...$json,\n  // En una implementación real, aquí procesarías $binary.data\n  // con Tesseract para obtener raw_text\n  ocr: {\n    engine: \"tesseract\",\n    language: \"spa\",\n    confidence_avg: 0.85, // Valor estimado\n    raw_text: \"BOLETA ELECTRONICA\\nFolio: 112233\\nFecha: 02-06-2025\\nRUT Emisor: 76.111.222-3\\nEmpresa Ejemplo SA\\nSubtotal: 18.750\\nIVA: 3.563\\nTOTAL: 22.313\\nMedio de pago: Efectivo\"\n  }\n}];"
      },
      "name": "Procesamiento OCR",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extraer datos estructurados del texto OCR\nreturn [{\n  ...$json,\n  extracted_data: {\n    document_type: \"boleta\",\n    folio: \"112233\",\n    issue_date: \"2025-06-02\",\n    issuer_name: \"Empresa Ejemplo SA\",\n    issuer_rut: \"76.111.222-3\",\n    currency: \"CLP\",\n    subtotal: 18750,\n    tax: 3563,\n    total: 22313,\n    payment_method: \"efectivo\"\n  }\n}];"
      },
      "name": "Extracción de Datos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Validación de reglas de negocio\nconst errors = [];\nconst data = $json.extracted_data;\nif (parseFloat(data.subtotal) + parseFloat(data.tax) !== parseFloat(data.total)) {\n  errors.push('total_equals_subtotal_plus_tax');\n}\n// Validación básica de formato RUT chileno\nif (!/^[0-9]{1,2}(\\.?[0-9]{3}){2}-[0-9kK]$/.test(data.issuer_rut)) {\n  errors.push('issuer_rut_format_valid');\n}\nif (!data.issue_date) {\n  errors.push('issue_date_present');\n}\nreturn [{\n  ...$json,\n  validation: {\n    status: errors.length === 0 ? 'valid' : 'invalid',\n    rules_applied: [\n      { rule: 'total_equals_subtotal_plus_tax', result: errors.indexOf('total_equals_subtotal_plus_tax') === -1 },\n      { rule: 'issuer_rut_format_valid', result: errors.indexOf('issuer_rut_format_valid') === -1 },\n      { rule: 'issue_date_present', result: errors.indexOf('issue_date_present') === -1 }\n    ],\n    observations: errors\n  }\n}];"
      },
      "name": "Validación",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "ocr",
        "columns": "folio,fecha,rut_emisor,proveedor,subtotal,iva,total,medio_pago,raw_text,extracted_data,validation",
        "values": [
          "={{ $json.extracted_data.folio }}",
          "={{ $json.extracted_data.issue_date }}",
          "={{ $json.extracted_data.issuer_rut }}",
          "={{ $json.extracted_data.issuer_name }}",
          "={{ $json.extracted_data.subtotal }}",
          "={{ $json.extracted_data.tax }}",
          "={{ $json.extracted_data.total }}",
          "={{ $json.extracted_data.payment_method }}",
          "={{ $json.ocr.raw_text }}",
          "={{ JSON.stringify($json.extracted_data) }}",
          "={{ JSON.stringify($json.validation) }}"
        ]
      },
      "name": "Guardar en PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "postgresDb": "PostgreSQL Credentials"
      }
    }
  ],
  "connections": {
    "Leer Imagen Local": {
      "main": [
        [
          {
            "node": "Procesamiento OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesamiento OCR": {
      "main": [
        [
          {
            "node": "Extracción de Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extracción de Datos": {
      "main": [
        [
          {
            "node": "Validación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validación": {
      "main": [
        [
          {
            "node": "Guardar en PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1",
  "tags": [],
  "description": "Flujo de OCR que procesa una imagen local específica (02-06-2025_181732.jpg), extrae datos con Tesseract (simulado), valida y guarda en PostgreSQL"
}